body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-sidebar:#eff8ff;
    --gb-header-content:#fef5e6;
    --bg-content-hero:#cdcff8;
    --bg-content-form:#fff0f5;
}

li,ul{
    list-style: none;
}

a{
    text-decoration:none;
}

.bg-round{
    border: 1px solid transparent;
    padding: 12px;
    border-radius: 100%;
    background-color: #fff;    
}

textarea{
    border: transparent;
    outline: none;
    scroll-behavior: smooth;
    will-change: scroll-position;
}

textarea::-webkit-scrollbar{
    display: block;
    width: 10px;
}

textarea::-webkit-scrollbar-thumb {
    border-radius: 10px;
    width: 10px;
    background:#c2c2c2;
    cursor: pointer;
    overflow: visible;
    transition:all .3s linear;
}
  
textarea::-webkit-scrollbar-thumb:hover {
    background: #555;
}   