.sidebar{
    height:100%;
    background-color: var(--bg-sidebar);
}

.content__header{
    background-color: var(--gb-header-content);
    height: 14vh;
}

.content__hero{
    background-color:var(--bg-content-hero);
    /* height: 50vh; */
}

.content__form{
    background-color:var(--bg-content-form);
    /* height: 39vh; */
}

.wrap_form{
    margin-top:30px;
    margin-left: 56px;
    margin-right: 34px;
}

/* side bar */
.sidebar__header {
    text-align: center;
}

.sidebar__header-info {
    font-size: 14px;
}

.comment {
    border: 1px solid #ccc;
    border-radius: 3px;
}

.btn-comment {
    margin: auto;
}

.sidebar__feedback-comment {
    text-align: center;
}
.sidebar__feedback-comment-label {
    text-align: left;
}

/* header */
